<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.youvigo.wms">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.youvigo.wms.WarehouseManagementApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name="com.youvigo.wms.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".login.LoginActivity"
            android:label="@string/title_activity_login" />

        <activity
            android:name=".SettingsActivity"
            android:label="@string/action_settings" />

        <activity
            android:name="com.youvigo.wms.search.SearchActivity"
            android:label="@string/search" />

        <activity
            android:name="com.youvigo.wms.shelving.ShelvingActivity"
            android:label="@string/shelving" />

        <activity
            android:name="com.youvigo.wms.product.FinishedProductsActivity"
            android:label="@string/finished_products" />

        <activity
            android:name="com.youvigo.wms.off.TakeOffActivity"
            android:label="@string/take_off" />
    </application>

</manifest>